html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  /* outline: 3px solid tomato; */
  margin: 0;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 0;
  color: #333333;
  /* background-color: #f6f7f8; */
  /* background-color: #f5f5f5; */
  overflow-x: hidden;
  /* box-sizing: border-box; */
  padding-bottom: 70px;
}

.container{
    /* background-color: azure; */
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border: 1px solid gray; 
    margin-bottom: 30px;
    padding: 1%;
}

.item{
    background-color: white;
    border-radius: 5px;
    border-color: azure;
    border: 1px solid gray;
    margin-bottom: 5%;
    padding: 5%;
}

.review-item{
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 5%;
}

.product-overview{
  background-color: #f5f5f5;
  padding: 3%;

}
.btn{
  border: 1px solid #333333;
}

/* .bottom-nav{
  margin-left: 1%;
  margin-right: 1%;
} */