<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TFM104MVC-旅遊電商</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--bootstrap js bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--fontawesome-->
    <!-- <script src="https://kit.fontawesome.com/c313a8a456.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384–5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!--vue-->
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>*@
    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--axios-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js' integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ==' crossorigin='anonymous'></script>

    <!--我硬幹ㄉcss-->
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <!--字體fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+TC:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="ano nymous">

</head>
<body>
    <!--沒登入的畫面-->
    <header>
        <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/pic/kkday_logo_final.svg"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="探索全台行程活動" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                        <div class=" d-flex align-items-center ">
                            <ul class="navbar-nav mb-2 mb-lg-0 d-flex gap-3 ali">
                                <!-- 購物車 -->
                                <li class="nav-item dropdown">
                                    <div class="shop-cart">
                                        <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasShopCart" role="button" aria-controls="offcanvasUser">
                                            <i class="bi bi-cart2 fs-5"></i>
                                        </a>
                                    </div>

                                </li>
                                <!-- 登入註冊 -->
                                <li class="nav-item" data-bs-toggle="modal" data-bs-target="#login">
                                    <a class="nav-link" href="#">登入/註冊</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </div>

        <!-- 購物車功能 -->
        <!--NavShopCart-empty-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasShopCart" aria-labelledby="offcanvasShopCart">
            <div class="list-group my-3">
                <div class="mx-auto d-block">
                    <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/shopping_cart.svg" width="120" height="120">
                </div>
                <p class="text-muted text-center fs-6">您的購物車是空的</p>
            </div>
            <div class="list-group-item list-group-item-action d-flex justify-content-between">
                <span>共0件商品</span>
                <a class="btn btn-primary" asp-area="" asp-controller="Purchase" asp-action="cart">
                    查看購物車
                </a>
            </div>
        </div>

        <!-- Modal 登入-->
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">登入/註冊</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="text-center fw-bold">使用社交平台帳戶登入</div>
                            <div class="text-center">立即登入，隨時收到獨家優惠</div>

                            <div class="d-flex flex-row justify-content-center">
                                <div class="">
                                    <!-- fb -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(24,119,242);" onclick="location.href='/Login/fblogin'">
                                        <img width="24" height="24" src="/pic/facebook_white.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- line -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(0,195,0);">
                                        <img width="24" height="24" src="/pic/line_nobg.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- google -->
                                    <button class="login-provider-button-circle" style="background-color:white; border-color: gray;">
                                        <img width="24" height="24" src="/pic/google.svg" class="rounded-circle" alt="...">

                                    </button>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container" id="login1">
                            <div class="mb-3"><b>kkday會員帳號登入</b></div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="電子郵件" v-model="loginInformation.account">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="密碼" v-model="loginInformation.password">
                            </div>
                            <div class="mb-3">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#resetcode">忘記密碼</a>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" v-on:click="submitLogin" class="btn btn-primary mb-3">登入</button>
                            </div>
                            <div class="mb-3" data-bs-toggle="modal" data-bs-target="#register">
                                <a href="#">還未加入kkday嗎？立即註冊！</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal 註冊-->
        <div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">登入/註冊</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="text-center fw-bold">使用社交平台帳戶登入</div>
                            <div class="text-center">立即登入，隨時收到獨家優惠</div>

                            <div class="d-flex flex-row justify-content-center">
                                <div class="">
                                    <!-- fb -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(24,119,242);">
                                        <img width="24" height="24" src="/pic/facebook_white.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- line -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(0,195,0);">
                                        <img width="24" height="24" src="/pic/line_nobg.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- google -->
                                    <button class="login-provider-button-circle" style="background-color:white; border-color: gray;">
                                        <img width="24" height="24" src="/pic/google.svg" class="rounded-circle" alt="...">

                                    </button>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="mb-3"><b>免費註冊</b></div>
                            <div class="mb-3">
                                <input type="text" class="form-control" onblur=isEmail(this.value) placeholder="電子郵件" v-model="registerInformation.account">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="密碼" v-model="registerInformation.password">
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    我已詳閱並同意<a href="#">使用者條款</a>&<a href="#">隱私權保護政策</a>
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    我不是機器人
                                </label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary mb-3" v-on:click="addRegister">註冊</button>
                            </div>
                            <div class="mb-3">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#login">已成為會員？立即登入！</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 忘記密碼-->
        <div class="modal fade" id="resetcode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">忘記密碼</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="text-center fw-bold">使用社交平台帳戶登入</div>
                            <div class="text-center">立即登入，隨時收到獨家優惠</div>

                            <div class="d-flex flex-row justify-content-center">
                                <div class="">
                                    <!-- fb -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(24,119,242);">
                                        <img width="24" height="24" src="/pic/facebook_white.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- line -->
                                    <button class="login-provider-button-circle" style="background-color: rgb(0,195,0);">
                                        <img width="24" height="24" src="/pic/line_nobg.svg" class="rounded-circle" alt="...">
                                    </button>

                                </div>
                                <div class="">
                                    <!-- google -->
                                    <button class="login-provider-button-circle" style="background-color:white; border-color: gray;">
                                        <img width="24" height="24" src="/pic/google.svg" class="rounded-circle" alt="...">

                                    </button>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="電子郵件">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary mb-3">重新設定密碼</button>
                            </div>
                            <div class="mb-3" data-bs-toggle="modal" data-bs-target="#register">
                                <a href="">還未加入kkday嗎？立即註冊！</a>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>

        @*原始導覽列*@
        @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TFM104MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            </ul>
            </div>
            </div>
            </nav>*@
    </header>

    <div class="container-fluid g-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TFM104MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    var app = new Vue({
        el: '#register',
        data: {
            registerInformation: {
                account: "",
                password: "",
                roleName:"Member"
            }
        },
        methods: {
            addRegister: function () {
                let self = this;
                axios.post("/auth/register", self.registerInformation)
                    .then(
                        function (res) {
                            if (res.status == 200) {
                                alert("恭喜註冊成功，請再次登入，並至您的信箱接收帳號激活驗證信");
                                window.location.href = "/home/index";
                            };
                        }
                    )
                    .catch(function (error) {
                        if (error.status == 404)
                        {
                            alert(error.data);
                        }
                        if (error.status == 422)
                        {
                            console.log(error.data);
                            alert(error.data.errors);
                        }
                    });
            }
        }
    })
</script>
<script>
    var app1 = new Vue({
        el: "#login1",
        data: {
            loginInformation: {
                account: "",
                password:""
            }
        },
        methods: {
            submitLogin: function () {
                let self = this;
                axios.post("/auth/login", self.loginInformation)
                    .then(function (res) {
                        if (res.status == 200) {
                            alert("登入成功");
                        }
                    })
                    .catch(function (err) {
                        if (err.status == 404) {
                            alert(err.data);
                        }
                    });
            }
        }
    })
</script>
