html,
body {
    font-family: "Lato", "Noto Sans TC", sans-serif;
    /* outline: 3px solid tomato; */
    margin: 0;
    font-weight: 400;
    letter-spacing: .5px;
    padding: 0;
    color: #333333;
    /* background-color: #f6f7f8; */
    background-color: #f5f5f5;
    overflow-x: hidden;
    /* box-sizing: border-box; */
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.btn-outline-success {
    color: #26bec9;
    border-color: #26bec9;
}

    .btn-outline-success:hover {
        color: #fff;
        background-color: #26bec9;
        border-color: #26bec9;
    }

    .btn-outline-success:hover, .btn-outline-primary:hover {
        color: #fff;
        background-color: #26bec9;
        border-color: #26bec9;
    }

.row-cols-1 {
    background-color: aqua;
}

.item {
    background-color: white;
    border-radius: 5px;
    border-color: azure;
    /* border: 1px solid gray; */
    margin-bottom: 5%;
    padding: 5%;
}

.filter-block {
    background-color: white;
    border-radius: 5px;
    border-color: azure;
    /* border: 1px solid gray; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}
/* .filter > a, a:hover, a:visited, a:link, a:active {
    color:#000;
    text-decoration:none;
    outline: none;
} */
.product-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*連結色彩設定*/
a, a:hover {
    text-decoration: none;
    color: #26bec9;
    cursor: pointer;
    background-color: transparent;
    transition: .25s;
}

    a:hover {
        text-decoration: underline;
    }

.card a {
    text-decoration: none;
    color: black;
}

/*設定商品分頁的連結色彩*/
.page-link:hover {
    color: #999;
    border-color: #e6e6e6;
    text-decoration: none;
    background-color: #e9ecef;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #26bec9;
    border-color: #26bec9;
}

.page-link {
    color: #999;
    border-color: #e6e6e6;
}
