/*底*/
.body {
    background-color: rgb(224, 222, 222);
}
/*表格*/
.table {
    background-color: #FFF;
    margin-top: 15px;
    margin-left: 15px;
    border-style: none;
}
/*按鈕*/
#btn_1 {
    width: 120px;
    height: 35px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    border: none;
    float: right;
    position: relative;
    background-color: mediumturquoise;
    margin-top: 10px;
    margin-right: 10px;
}

#btn_2 {
    width: 120px;
    height: 35px;
    font-size: 14px;
    color: saddlebrown;
    text-align: center;
    float: right;
    position: relative;
    margin-right: 10px;
}
/*按鈕特效*/
#btn_1 > p {
    position: relative;
    z-index: 1;
}

#btn_2 > p {
    position: relative;
    z-index: 1;
}

#btn_1::before {
    content: "";
    width: 0%;
    height: 0%;
    display: block;
    background-color: rgba(47, 151, 165, 0.514);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease;
}

#btn_1:hover {
    color: rgba(45, 63, 65, 0.795);
}

#btn_2::before {
    content: "";
    width: 20%;
    height: 50%;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: saddlebrown;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

#btn_2::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s linear;
}

#btn_2:hover::before,
#btn_2:hover::after {
    width: 100%;
    height: 100%;
}

#btn_1:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*向上卷軸按鈕*/
.scroll-top-inner {
    opacity: 40%;
    background-color: #fff;
    color: rgb(65, 147, 202);
    border-style: none;
    border-radius: 50%;
    float: right;
    width: 48px;
    height: 48px;
}
/*右欄上板*/
.board {
    background-color: #FFF;
}

/*文字*/
.card-price {
    white-space: nowrap;
    text-align: left;
}

.price-title {
    font-size: smaller;
}

.price-td {
    font-size: smaller;
}

.price-detail {
    font-size: small;
}
