/*訂單管理字樣*/
.title {
    display: inline-block;
    white-space: nowrap;
}

.title_w {
    font-size: larger;
    margin-top: 15px;
    margin-left: 12px;
}
/*主要區塊*/
.container {
    margin-top: 10px;
}

.table {
    margin-bottom: 35px;
    text-align: center;
    align-self: center;
}

.table-list {
    margin-bottom: 60px;
}

.table-title {
    line-height: 10px;
}
/*選項按鈕*/
.form-check-input {
    margin-top: 75px;
    margin-left: 30px;
}

.form-check-label {
    display: inline-block;
    white-space: nowrap;
    margin-top: 80px;
    font-size: medium;
}

/*按鈕*/
.btn {
    font-size: 14px;
    color: #FFF;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: rgba(55, 176, 192, 0.705);
    border: none;
    float: right;
    position: relative;
    float: right;
}

    .btn > p {
        position: relative;
        z-index: 1;
    }

    .btn::before {
        content: "";
        width: 0%;
        height: 0%;
        display: block;
        background-color: rgba(55, 176, 192, 0.514);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease;
    }

    .btn:hover {
        color: rgba(45, 63, 65, 0.795);
    }

        .btn:hover::before {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

.btn_in {
    margin-right: 20px;
}
/*向上卷軸按鈕*/
.scroll-top-inner {
    opacity: 40%;
    background-color: #fff;
    color: rgb(65, 147, 202);
    border-style: none;
    border-radius: 50%;
    float: right;
    width: 48px;
    height: 48px;
}
/*卡片欄位*/
.card {
    margin-left: 30px;
    font-size: smaller;
    margin-top: 10px;
}

.card-body {
    float: left;
}
/*卡片文字內容*/
.card-title .card-text {
    float: left;
    margin-top: 20px;
    margin-right: 30px;
}
/*價格欄位*/
.pricetag {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
/*數量欄位*/
.quantity {
    margin-top: 20px;
    float: left;
}

/*商品照片*/
.img-fluid {
    margin-top: 20px;
    float: left;
}
/*底*/
.section {
    background-color: silver;
    margin: auto;
}

.bd_board {
    margin-top: 25px;
    background-color: #FFF;
}

.row {
    margin: auto;
}
