/*底*/
.container {
    margin-top: 15px;
}

.page-wrap {
    background-color: silver;
}
/*按鈕效果*/
.btn {
    font-size: 14px;
    color: #FFF;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: rgba(57, 168, 219, 0.781);
    border: none;
    float: right;
    position: relative;
}

    .btn > p {
        position: relative;
        z-index: 1;
    }

    .btn::before {
        content: "";
        width: 0%;
        height: 0%;
        display: block;
        background-color: rgba(55, 176, 192, 0.404);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s ease;
    }

    .btn:hover {
        color: rgba(53, 53, 71, 0.795);
    }

        .btn:hover::before {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
/*向上卷軸按鈕*/
.scroll-top-inner {
    opacity: 40%;
    background-color: #fff;
    color: rgb(65, 147, 202);
    border-style: none;
    border-radius: 50%;
    float: right;
    width: 48px;
    height: 48px;
}

/*邊框*/
#border-items {
    width: 650px;
    height: 365px;
}
/*左資訊欄*/
.bd_board {
    background-color: #FFF;
    margin-top: 5px;
    width: 250px;
    height: 450px;
    text-align: center;
}

.card-items {
    width: 770px;
    height: 180px;
    margin: auto;
    line-height: 20px;
}

.card-body {
    margin-left: 20px;
    font-size: small;
    align-items: center;
}

.card-info {
    max-height: 180px;
    margin: auto;
}

.card-info-inner {
    align-items: center;
}

.card-intro {
    align-items: center;
    margin-top: 10px;
}

.card-img-top {
    align-items: center;
    margin-top: 10px;
    width: 110px;
    height: 110px;
}

.card-username {
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
}

#border-online {
    width: 265px;
}

#user_account {
    margin: auto;
    text-align: center;
}

.user-account {
    margin-top: 0px;
    text-align: center;
    white-space: nowrap;
}
/*右資訊欄*/
.board {
    height: 1000px;
    background-color: white;
}

.page-head {
    margin-top: 5px;
    margin-left: 5px;
}
