@{
    ViewData["Title"] = "購物車";
}

<link rel="stylesheet" href="/css/shopCart.css" type="text/css">

<div class="container d-block">
    <!--麵包屑-->
    <div class="row mt-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="fw-bold breadcrumb-item active" aria-current="page">購物車</li>
                <li class="text-secondary breadcrumb-item">填寫資料與付款</li>
                <li class="text-secondary breadcrumb-item">訂購完成</li>
            </ol>
        </nav>
    </div>
</div>

<!--購物車本體-->
<div class="container">
    <!--空的購物車-->
    <div class="row">
        <div class="empty-cart">
            <div class="board d-block align-item-center">
                <!--購物車標題-->
                <div class="board-title">
                    <span class="fs-5 fw-bold">購物車</span>
                </div>
                <hr class="text-muted">
                <div class="d-block text-center">
                    <div class="mx-auto my-3">
                        <div class="mx-auto d-block mb-3">
                            <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/shopping_cart.svg" width="120"
                                 height="120">
                        </div>
                        <p class="fw-bold text-muted text-center fs-6">您的購物車是空的</p>
                    </div>

                </div>
                <div class="d-block text-center">
                    <button class="btn btn-info mt-3" type="button">跟著kkday一起探索台灣</button>
                </div>
            </div>
        </div>
    </div>


    <!--有東西的購物車-->
    <div class="row">
        <div class="board main-cart">
            <!--購物車標題-->
            <div class="board-title">
                <span class="fs-5 fw-bold">購物車</span>
            </div>
            <hr class="text-muted">
            <!--購物車本體-->
            <div class="container cart-group">
                <div class="row cart-item">
                    <div class="col-1 ckeckbox">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                            </label>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#">
                            <img src="https://fakeimg.pl/50x50/">
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="javascript:;">
                            商品名稱
                        </a>
                    </div>
                    <div class="col-2">2022-05-06</div>
                    <div class="col-2">人數x2</div>
                    <div class="col-2">
                        <span class="fw-bold text-info ">
                            TWD X,XXX
                        </span>
                    </div>
                    <div class="col-1">
                        <span>
                            <a href="javascript:;">
                                <i class="bi bi-heart"></i>
                            </a>
                        </span>
                        <span>
                            <a href="javascript:;">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="text-muted">

            <div class=" board-footer">
                <!--購物車勾選-->
                <div class=" board-action my-3 ml-3">
                    <div class="d-flex gap-1 align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label text-muted" for="flexCheckChecked">
                                <a class="text-muted" href="javascript:;">
                                    全選(x)
                                </a>
                            </label>
                        </div>
                        <span class="text-muted">|</span>
                        <div class="text-muted">
                            <a href="javascript:;" class="text-muted">
                                刪除已選項目
                            </a>
                        </div>
                    </div>
                </div>
                <!--購物車金額計算&下單-->
                <div class=" board-cta d-flex justify-content-end">
                    <div class="cart-total">
                        <div class="d-flex justify-content-end">
                            <!--總金額與點數-->
                            <div class="item">
                                <!--商品金額-->
                                <div class="d-flex gap-1 align-items-center">
                                    <div class="text-muted">
                                        x件商品合計
                                    </div>
                                    <div class="fw-bold text-info fs-5">
                                        TWD XXX
                                    </div>
                                </div>
                                <!--點數-->
                                <div class="d-flex gap-1 align-items-center justify-content-end">
                                    <div class="text-muted">
                                        KKday Points
                                    </div>
                                    <div class="d-flex gap-2">
                                        <span class="text-warning">
                                            <i class="bi bi-exclamation-circle-fill"></i>
                                        </span>
                                        <div class="fw-bold text-warning">
                                            XX
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--下訂btn-->
                            <div class="item btn">
                                <div class="d-flex justify-content-end gap-3">
                                    <button type="button" class="btn btn-info">
                                        @*<a asp-area="" asp-controller="Purchase" asp-action="booking">*@
                                            前往結帳
                                        @*</a>*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container g-0">
    <a class="float-end" href="#">繼續購物></a>
</div>

<!--你可能也會喜歡-->
<div class="container cart-recommend">
    <div class="d-flex justify-content-between mb-3">
        <span class="fs-5 fw-bold">▎你可能也會喜歡</span>
    </div>
    <div class="row">
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-4">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-light">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-4">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-light">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-4">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-light">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
