@{
<<<<<<< HEAD
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    ViewData["Title"] = "首頁";
}

<!--自幹css-->
<link rel="stylesheet" href="/css/homeIndex.css" type="text/css">

<!--首頁Banner主體-->
<section class="home-banner" style="background-image: url(https://images.plurk.com/kzwIDnkfrwDlt3gk4cVV7.png);">
    <div class="overlap"></div>
    <div class="home-search">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="home-banner_content">
                    <div class="uusearch mb-5">
                        <h1 class="title">探索全台景點行程</h1>
                        <h5 class="sub-title">最棒最有趣的台灣旅遊體驗</h5>
                        <nav class="navbar mb-5" style="justify-content: center;align-items: center;">
                            <form class="d-flex" style="justify-content: center;align-items: center;">
                                <input class="form-control me-2" type="search" placeholder="輸入目的地、景點、體驗行程或活動名稱..." style="width: 350px;" aria-label="Search">
                                <button class="btn btn-primary" type="submit" style="background-color: darkturquoise;border-color: darkturquoise;">Search</button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--暫時的東西-->
<section class="my-5" style="background-color:aquamarine">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="ProductView" asp-action="productlist">
                    這裡是暫時放商品列表連結
                </a>
            </div>
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="ProductView" asp-action="product">
                    這裡暫時放單一商品連結
                </a>
            </div>

            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="Purchase" asp-action="booking">
                    這裡暫時放訂購頁連結
                </a>
            </div>
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="Collect" asp-action="WishList">
                    這裡暫時放收藏頁連結
                </a>
            </div>
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Manage">
                    這裡暫時放訂單管理
                </a>
            </div>
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Detail">
                    這裡暫時放訂單明細
                </a>
            </div>
            <div class="col">
                <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Edit">
                    這裡暫時放訂單修改
                </a>
            </div>
        </div>
    </div>
</section>


<!--最新旅遊優惠-->
<section class="container">
    <div class="row">
        <p class="fs-4 fw-bold">最新旅遊優惠</p>
    </div>
    <div class="card_news" style="display: inline-block;">
        <div class="card-body">
            <a href="#" class="card3_link" style="text-decoration: none;">
                <img alt="" class="card3_img" src="https://picsum.photos/360/170?ramdom=10">
            </a>
        </div>
    </div>
    <div class="card_news" style="display: inline-block;">
        <div class="card-body">
            <a href="#" class="card3_link" style="text-decoration: none;">
                <img alt="" class="card3_img" src="https://picsum.photos/360/170?ramdom=10">
            </a>
        </div>
    </div>
    <div class="card_news" style="display: inline-block;">
        <div class="card-body">
            <a href="#" class="card3_link" style="text-decoration: none;">
                <img alt="" class="card3_img" src="https://picsum.photos/360/170?ramdom=10">
            </a>
        </div>
    </div>
    @*    <button type="button" class="new_btn shadow">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
        </button>*@
</section>

<!--熱門商品-->
<div class="container my-3">
    <div class="row">
        <p class="fs-4 fw-bold">Top 10 熱門商品</p>
    </div>
    <div class="row">
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-6 col-md-3">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-muted">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-6 col-md-3">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-muted">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-6 col-md-3">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-muted">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--商品單項 直接在最外層加a標籤-->
        <div class="col-6 col-md-3">
            <a class="text-secondary" href="#" target="_blank" rel="noopener">
                <div class="mb-1">
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-12 product-card-image" style="background-image: url(https://picsum.photos/150/100);">
                                <div class="mt-3 d-flex justify-content-between mx-3">
                                    <!--地點-->
                                    <div class="d-flex gap-1">
                                        <span class="text-light">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <p><small class="text-light">地點</small></p>
                                    </div>
                                    <!--收藏愛心 這邊暫時不做a標籤 -->
                                    <div class="text-muted">
                                        <span class="text-danger"><i class="bi bi-heart"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title mb-3">商品標題</h5>
                                    </div>

                                    <!--產品資訊：評價&購買數量-->
                                    <div class="product-info d-flex gap-1">
                                        <!--評價-->
                                        <div class="product-star d-flex">
                                            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                                            <p><small class="text-muted">(星星評價數)</small></p>
                                        </div>
                                        <span class="divider">|</span>
                                        <!--熱門程度-->
                                        <div class="prodcut-book d-flex gap-1">
                                            <span>
                                                <i class="fas fa-fire text-danger"></i>
                                            </span>
                                            <p><small class="text-muted">xxxx個已訂購</small></p>
                                        </div>
                                    </div>
                                    <!--產品資訊：評價&熱門程度&價格-->
                                    <div class="product-footer d-flex gap-1 ">
                                        <!--價格-->
                                        <div class="product-price gap-3">
                                            <div>
                                                <p class="fw-bolder">TWD X,XXX </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--edm-->
<div class="container-fluid" style="background-color: dimgray; height: 105px;">
    <div class="row pt-3 d-flex justify-content-end pt-4">
        <div class="col-md-6 text-block">
            <span class="text-white">即刻訂閱！搶先獲得用戶限定優惠及最新熱門景點旅遊資訊！</span>
            <div class="tip">
                訂閱及代表你同意我們的
                <a href="#">使用者條款</a>
                和
                <a href="#">隱私權保護政策</a>
            </div>
        </div>
        <div class="col-md-5">
            <nav class="navbar">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="請輸入Email！" style="width: 350px;" aria-label="Search">
                    <button class="btn btn-primary" type="submit" style="background-color: rgb(85, 86, 86);border-color: rgb(85, 86, 86);">訂閱</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="row mx-auto my-3 " style="text-align:center;max-width:1100px;margin-bottom:5%;">
        <hr class="text-white" >
    </div>
</div>
<!--頁尾-->
<div class="container-fluid footer-item pt-3">
    <div class="row footer-links d-flex justify-content-around px-5">
        <div class="col-12 col-md-4">
            <h4>認識XXX</h4>
            <ul class="footer-list">
                <li>
                    <a href="#">關於XXX</a>
                </li>
                <li>
                    <a href="#">條款1</a>
                </li>
                <li>
                    <a href="#">條款2</a>
                </li>
                <li>
                    <a href="#">條款3</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <h4>網站地圖</h4>
            <ul class="footer-list">
                <li>
                    <a href="#">首頁</a>
                </li>
                <li>
                    <a href="#">商品列表</a>
                </li>
                <li>
                    <a href="#">會員管理</a>
                </li>
            </ul>
        </div>
        <div class="footer-follows col-12 col-md-4">
            <h4>追蹤我們</h4>
            <ul class="footer-list">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-line" viewBox="0 0 16 16">
                            <path d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
>>>>>>> unity1
</div>
