html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  /* outline: 3px solid tomato; */
  margin: 0;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 0;
  color: #333333;
  /* background-color: #f6f7f8; */
  background-color: #f5f5f5;
  overflow-x: hidden;
  /* box-sizing: border-box; */
}

body { padding-top: 70px; }

.container{
max-width: 800px;
}

/* .navbar-collapse{
    outline: 3px solid tomato;

}

.navbar-nav{
    outline: 3px solid tomato;

}*/
.nav-item{
    margin-left: 1rem ;
    align-items: center;
    /* outline: 3px solid tomato; */
} 

.shop-cart{
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.login-provider-button-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 3px;
    padding: 10px;
    /* border: none; */
}

.shoppingCart{
    width: 50%;

}


/*各看板設定*/
.board{
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
}
/* 
.product-pic{
  width:80px;
  height: 80px;
} */